{% extends 'public/public_template/public_template.html' %} {% block title %} {{
title }} {% endblock %} {% block main %}
<div>Group's bills</div>
<div>{{group.id}}</div>
<table>
  <tr>
    <th>ID</th>
    <th>Description</th>
    <th>Amount</th>
  </tr>
  {%for bill in group.bills %}
  <tr>
    <td>{{bill.id}}</td>
    <td>{{bill.description}}</td>
    <td>{{bill.price}}</td>
  </tr>
  {%endfor%}
</table>

<form method="post" action="" enctype="multipart/form-data">
  {{ form.csrf_token }}
  <div>
    {{ form.description.label}} {{ form.description}} {% if
    form.description.errors %} {% for error in form.description.errors %}
    <div style="color: red">{{ error }}</div>
    {% endfor %} {% endif %}
  </div>
  <div>
    {{ form.price.label }} {{ form.price }} {% if form.price.errors %} {% for
    error in form.price.errors %}
    <div style="color: red">{{ error }}</div>
    {% endfor %} {% endif %}
  </div>

  {{ form.submit }}
</form>

<br />

{% endblock %}
