{% extends 'public/public_template/public_template.html' %} {% block title %} {{
title }} {% endblock %} {% block main %}
<div>Something</div>
{%for i in data%}
<div class="box">
  <a href="{{ url_for('bills', group_id=i.id )}}"
    ><div>id:{{i.id}}</div>
    <div>{{i.name}}</div></a
  >
</div>
{%endfor%}
<form method="POST" action="">
  {{ form.hidden_tag() }}
  <div class="title">Something 2</div>
  <div>
    {{ form.name.label }} {{ form.name }} {% with messages =
    get_flashed_messages() %} {% if messages %} {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %} {% endif %} {% endwith %}
  </div>

  <div>{{ form.submit }}</div>
</form>

{% endblock %}
