{% extends 'public/public_template/public_template.html' %} {% block title %} {{
title }} {% endblock %} {% block main %}
<div class="title">Enter your info</div>
<form method="post" action="" enctype="multipart/form-data">
  {{ form.csrf_token }}
  <div>
    {{ form.name.label}} {{ form.name}} 
  </div>
  <div>
    {{ form.email.label }} {{ form.email }} 
  </div>
  <div>
    {{ form.password.label }}  {{ form.password }}
    
      
  
  <div>
    {{ form.confirm_password.label }}  {{
    form.confirm_password }}
    {% with messages =
      get_flashed_messages() %} {% if messages %} {% for message in messages %}
      <p>{{ message }}</p>
      {% endfor %} {% endif %} {% endwith %}
  </div>

  {{ form.submit }}
</form>
<br />

{% endblock %}
